@page "/"
@using GoogleAuth.Shared.Models;
@inject HttpClient Http
@inject AuthenticationStateProvider AuthStateProvider

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
Welcome to your new app.

@code {
    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStateProvider.GetAuthenticationStateAsync()).User.Identity;
        if (user is not null && user.IsAuthenticated)
        {
            var employees = await Http.GetFromJsonAsync<List<Employee>>("api/employee");
        }
    }
}